* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand-Bold', sans-serif;
}

.container {
    max-width: 1320px;
    padding: 0px 12px;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}


/*----------- HEADER STYLE----------*/

.header-main {
    background: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 104px;
}

.header-main__inner {
    height: 104px;
}

/*   with float
.header-main__logo{*/
/*    display: inline-block;*/
/*    float: left;*/
/*}*/

.header-main__logo {
    display: inline-block;
    width: 50%;
    text-align: left;
    overflow: hidden;
}


.header-main__logo-link {
    display: inline-block;
}

/*  with float
.header-nav{*/
/*    display: inline-block;*/
/*    float: right;*/
/*    height: 104px;*/
/*}*/

.header-nav {
    display: inline-block;
    height: 104px;
    width: 49%;
    overflow: hidden;
    text-align: right;
}

.header-nav__items {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header-nav__items-list {
    display: inline-block;
    height: 100%;
    padding: 39px 15px;
}

.header-nav__list-link {
    height: 100%;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #444;
    cursor: pointer;
}

.header-nav__list-link:hover {
    color: #f0a540;
}

.header-nav__items-list.btn {
    background: #f0a540;
}

.header-nav__list-link.btn {
    color: #ffffff;
}


/*----------- BANNER STYLE----------*/

.section-banner {
    background-image: url("../Images/hero-image.jpg");
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}

.section-banner__content {
    margin: 165px 0;
}

.section-banner__info-title {
    color: #EEE;
    font-size: 40px;
    line-height: 1.4;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
    letter-spacing: -2px;
}

.section-banner__info-text {
    color: #EEE;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 25px;
}

.section-banner__buttons-button {
    background-color: #f0a540;
    color: #ffffff;
    padding: 9px 26px;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Quicksand-Regular', sans-serif;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 20);
}

.section-banner__buttons-plus {
    padding: 0 30px;
    color: #fff;
    font-family: 'Quicksand-Regular', sans-serif;
    display: inline-block;
}

.section-banner__buttons-gift {
    height: 38px;
    display: inline-block;
}

.section-banner__buttons-gift-image {
    height: 100%;
}

.section-banner__content-text {
    font-family: 'Quicksand-Regular', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #EEE;
    opacity: 0.4;
    font-weight: 400;
    line-height: 30px;
}


/*----------- SERVICES STYLE----------*/

.section-services {
    background: #eef2f5;
    overflow: hidden;
    padding: 66px 0;
}

.section-services__inner {
    overflow: hidden;
}

.section-services__info {
    text-align: center;
    margin: 32px 0 48px 0;
}

.section-services__info-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 1px;
    color: #333;
    margin: 0;
}

.section-services__info-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #777;
    line-height: 30px;
    margin: 10px 0 0 0;
}

.section-services__items {
    margin: -24px 0 0 -24px;
    overflow: hidden;
}

.section-services__items-item {
    padding: 24px 0 0 24px;
    display: inline-block;
    width: 25%;
    float: left;
}

.section-services__items-item__content {
    background: #ffffff;
    border-radius: 5px;
}


.section-services__item-content__image-link {
    display: inline-block;
}

.section-services__item-content__info {
    padding: 24px;
}

.section-services__item-info-title {
    font-family: 'Quicksand-Bold', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}

.section-services__item-info-text {
    color: #f0a540;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 5px 0 10px 0;
}

.section-services__item-info-link {
    color: #f0a540;
    letter-spacing: 1px;
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

/*----------- CONTACTS STYLE----------*/

.section-contacts {
    padding: 80px 0;
}

.section-contacts__info {
    text-align: center;
    margin-bottom: 50px;
}

.section-contacts__info-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 1px;
    color: #333;
    margin: 0;
}

.section-contacts__info-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #777;
    line-height: 30px;
    margin: 10px 0 0 0;
}

.section-contacts__items {
    margin: -24px 0 0 -24px;
    overflow: hidden;
}

.section-contacts__items-item {
    padding: 24px 0 0 24px;
    display: inline-block;
    width: 33.333%;
    float: left;
}

.section-contacts__items-item__content {
    position: relative;
}

.section-contacts__items-item__content.left {
    background-image: url('../Images/1 (4).jpg');
    background-size: cover;
    border-radius: 8px;
}

.section-contacts__items-item__content.center {
    background-image: url('../Images/14.jpg');
    background-size: cover;
    border-radius: 8px;
}

.section-contacts__items-item__content.right {
    background-image: url('../Images/3 (3).jpg');
    background-size: cover;
    border-radius: 8px;
}

.section-contacts__items-item__content-info {
    text-align: center;
    padding: 60px 0;
}

.section-contacts__items-item__content-info-title {
    margin: 0;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Quicksand-Regular', sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
}

.section-contacts__items-item__content-info-text {
    margin: 111px 0 0 0;
    font-family: 'Quicksand-Medium', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
}

.section-contacts__items-item__opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    opacity: 0.4;
}


/*----------- FOOTER STYLE----------*/

.footer-main {
    background: #282828;
}

.footer-main__inner {
    padding: 80px 0;
    width: 100%;
}

.footer-main__items {
    margin: -12px 0 0 -12px;
    overflow: hidden;
}

.footer-main__items__item {
    padding: 12px 0 0 12px;
    width: 25%;
    float: left;
    display: inline-block;
}

.footer__item-content-info {
    padding-bottom: 30px;
}

.footer__item-content-info.contacts {
    padding-bottom: 0;
}

.footer__item-content-p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    color: rgba(255, 255, 255, 0.75);
}

.footer__item-content-info.contacts b{
    border-bottom: 1px dashed;
}

.footer-main-item-content__nav-title {
    margin: 0 0 25px 0;
    color: #EEE;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 22px;
}

.footer-main-item-content__nav{
    list-style: none;
    padding: 0;
}

.footer-main-item-content__nav-list{
    padding: 4px 0;
    line-height: 22px;
}

.footer-main-item-content__nav-list:before{
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    color: rgba(255, 255, 255, 0.75);
    font-size: 10px;
    margin-right: 5px;
}

.footer-main-item-content__nav-list-link{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.75);
}

.footer-main__items__item-content.ticket{
    padding: 30px;
    border: 2px dashed #AAA;
    text-align: center;
}

.ticket-title{
    color: #EEE;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.ticket-title span {
    color: #f0a540;
    font-size: 40px;
}

.ticket-text {
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

.ticket-text span {
    color: #999;
    font-style: italic;
    font-size: 14px;
}

.footer-main__copyright{
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-main__copyright-content{
    width: 100%;
    overflow: hidden;
}

.footer-main__copyright-content-left{
    width: 50%;
    display: inline-block;
}

.footer-main__copyright-content-left-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    margin: 0;
}

.footer-main__copyright-content-right{
    width: 50%;
    display: inline-block;
    text-align: right;
    float: right;
}

.footer-main__copyright__icon{
    color: #777777;
    text-decoration: none;
    margin-right: 20px;
}

.footer-main__copyright__icon.is-linkedin{
    margin-right: 0;
}