* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Quicksand-Bold;
}

.container {
    max-width: 1320px;
    padding: 0px 12px;
    margin: auto;
}


/*~~~~~~~~ HEADER ~~~~~~~~*/
.header-logo {
    max-height: 114px;
}

.header-main {
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.6);
}

.header-main__inner {
    display: flex;
    justify-content: space-between;
}

.nav-main__list {
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-main__list-item {
    height: 100%;
}

.nav-main__list-item-link {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    line-height: 22px;
    color: #444;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 39px 15px;
}

.nav-main__list-item-link.btn {
    color: #fff;
    background-color: #f0a540;
}

/*~~~~~~~~ BANNER ~~~~~~~~*/

.section-banner {
    background-image: url("../images/hero-image.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.section-banner__inner {
    height: 100vh;
    display: flex;
    align-items: center;
}

.section-banner__info-title {
    color: #EEE;
    font-size: 40px;
    line-height: 1.4;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
    letter-spacing: -2px;
}

.section-banner__info-text {
    color: #EEE;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 25px;
}

.section-banner__buttons-button.btn {
    background-color: #f0a540;
    color: #fff;
    padding: 9px 26px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Lato, sans-serif;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 20);

}

.section-banner__buttons-plus {
    padding: 0 30px;
    color: #fff;
    font-family: Lato, sans-serif;
}

.section-banner__text {
    font-family: Lato, sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #EEE;
    opacity: 0.4;
    font-weight: 400;
    line-height: 30px;
}

.section-banner__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.section-banner__buttons-gift {
    height: 38px;
    display: inline-block;
}

.section-banner__buttons-gift-image {
    height: 100%;
}


/*~~~~~~~~ SERVICES ~~~~~~~~*/

.section-services {
    background-color: #eef2f5;
    overflow: hidden;
}

.section-services__content {
    text-align: center;
    padding-bottom: 30px;
}

.section-services__inner {
    padding: 66px 0;
}

.section-services__text {
    font-weight: 300;
    color: #777;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    line-height: 30px;
}

.section-services__title {
    font-size: 36px;
    letter-spacing: 1px;
    color: #333;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

.section-services-item__content-title {
    font-size: 17px;
    color: #333;
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}

.section-services-item__content-text {
    color: #f0a540;
    font-size: 14px;
    font-family: 'Quicksand-Light', sans-serif;
    margin: 0px;
    padding: 6px 0;
}

.section-services-item__content-link {
    color: #f0a540;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.section-services__items {
    display: flex;
    justify-content: space-between;

}

.section-services__items-item {
    background-color: white;
    max-width: 300px;
    border-radius: 5px;
    overflow: hidden;
    transition: transform .1s;
}

.section-services-item__image-link img {
    width: 300px;
    height: 262px;
}

.section-services-item__content {
    padding: 24px;
}

.section-services__items-item:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 1px 0 rgba(10, 16, 34, .2);
}

/*~~~~~~~~ JOIN ~~~~~~~~*/

.section-join__items {
    display: flex;
    justify-content: space-between;
    padding: 66px 0;
}


.section-item__count {
    display: flex;
    justify-content: space-between;
}

.section-slider__item {
    display: flex;
    box-shadow: 0 1px 1px 0 rgba(10, 16, 34, .2);
    border-radius: 3px;
    margin-top: 32px;
    margin-bottom: 2px;
    padding: 20px;
    border: 0px;
    border-top: 1px solid #EEE;

}

.line {
    width: 100%;
    margin: 32px 0;
    border-top: 1px solid #eee;
}

.section-slider__image-link img {
    border-radius: 50%;
    height: 64px;
}
.section-slider__image-link{
    margin-right: 15px;
}

.section-slider__info-text{
    margin: 0px;
}

.section-slider__info-name {
    margin: 10px 0 0 0;
}



/*~~~~~~~~ GALLERY ~~~~~~~~*/

.section-gallery {
    background-color: #eef2f5;
    padding: 66px 0;
}

.section-gallery__info{
    text-align: center;
    padding-bottom: 60px;
}
.section-gallery__image-link img{
    width: 217.66px;
    height: 163.23px;
}
.section-gallery__images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.section-gallery__images{
    height: 100%;
}